<a href="https://colab.research.google.com/github/ProfAI/py4ai/blob/master/3%20-%20Le%20Collezioni%20di%20Dati/collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Le Collezioni di Dati in Python
Le collezioni sono particolari tipi di dati che possono essere utilizzate per contenere insiemi di dati. Python ci mette a disposizione 4 principali tipi di collezioni: liste, tuple, set e dizionari.

## Le Liste
Possiamo creare una lista di dati semplicemente racchiudendoli tra parentesti quadre e separandoli con una virgola.

In [0]:
l = [1, 2 ,3 ,5 ,8 ,13 ,21]
print(l, type(l))

[1, 2, 3, 5, 8, 13, 21] <class 'list'>

In teoria una lista può contenere anche diversi tipi di dati, ma è buona pratica non farlo.

In [1]:
weird_list = [0, "patate", True, 3.14] # questo funziona, ma non si fa
print(weird_list)

[0, 'patate', True, 3.14]

### Indexing

Per accedere ad un elemento della lista dobbiamo inserire il suo **indice** tra parentesi quadre, questa opeazione è chiamata *indexing*.
<br>
**NOTA BENISSIMO** In Python e in quasi tutti i linguaggi di programmazione gli indici partono da 0.

In [0]:
print(l[0]) # primo elemento della lista
print(l[1]) # secondo elemento della lista
print(l[5]) # sesto elemento della lista

1
2
13

L'utilizzo del - davanti all'indice ci permette di accedere alla lista dall'ultimo elemento verso il primo, in questo caso l'indice parte da 1 e non da zero, quindi con -1 accederemo all'ultimo elemento della lista.

In [0]:
print(l[-1]) # ultimo elemento della lista
print(l[-3]) # terzultimo elemento della lista

21
8

### Slicing
Possiamo estrarre solo una parte della lista inserendo gli indici di inizio (incluso) e fine (escluso) separati da (:)

In [0]:
print(l[4:6]) # dal quarto (incluso) al sesto (esluso)
print(l[:3]) # fino al terzo elemento
print(l[-2:]) # ultimi due elementi
print(l[:-2]) # fino agli ultimi due elementi

[8, 13]
[1, 2, 3]
[13, 21]
[1, 2, 3, 5, 8]

Possiamo anche utilizzare un terzo valore, che indicherà il verso della selezione, valore 1: da sinistra a destra (valore di default) valore -1 da destra a sinistra (per ribaltare la lista).

In [0]:
l[::-1] # dall'ultimo al primo

[21, 13, 8, 5, 3, 2, 1]

### Modifica
Possiamo modificare il valore di un elemento della lista semplicemente accedendo ad esso e eseguendo un'assegnazione.

In [0]:
print("Valora alla posizione 5: %d" % l[4])
l[4] = 10
print("Nuovo valore alla posizione 5: %d" % l[4])

Valora alla posizione 5: 8
Nuovo valore alla posizione 5: 10

Possiamo anche modificare più valori in una volta, assegnando una nuova lista ad una frazione della lista.

In [0]:
print(l)
l[:2] = [90, 100]
print(l)

[1, 2, 3, 5, 10, 13, 21]
[90, 100, 3, 5, 10, 13, 21]

Anche la lista, come tutti i tipi di dato in Python, è un oggetto e quindi ha i suoi metodi. Per modificare il contenuto di una lista possiamo anche sfruttare i seguenti metodi:
<br><br>**append(e)** aggiunge un elemento e in fondo alla lista

In [0]:
subjects = ["machine learning", "deep learning", "artificial intelligence"]

In [0]:
subjects.append("computer vision")
print(subjects)

['machine learning', 'deep learning', 'artificial intelligence', 'computer vision']

**insert(i,e)** aggiunge l'elemento e all'indice i della lista

In [0]:
subjects.insert(3, "natural language processing")
print(subjects)

['machine learning', 'deep learning', 'artificial intelligence', 'natural language processing', 'computer vision']

**+**: possiamo usarlo per unire due liste (questo non è un metodo ma un'operatore).

In [0]:
subjects = ["machine learning", "deep learning", "artificial intelligence"]
subjects = subjects + ["natural language processing", "computer vision"]
print(subjects)

['machine learning', 'deep learning', 'artificial intelligence', 'natural language processing', 'computer vision']

**remove(e)** rimuove l'elemento e dalla lista

In [0]:
subjects.remove("natural language processing")
print(subjects)

['machine learning', 'deep learning', 'artificial intelligence', 'computer vision']

**pop(i)** rimuove l'elemento all'indice i

In [0]:
subjects.pop(1)
print(subjects)

['machine learning', 'artificial intelligence', 'computer vision']

### Verifica
Possiamo verificare se un elemento è contenuto nella lista con lo statement *in*, questo ritorna True se l'elemento è contenuto nella lista, altrimenti ritorna False (*in* è molto utile utilizzato per creare istruzioni condizionali, di cui parleremo più sotto).

In [0]:
print("artificial intelligence" in subjects)

True

### Funzioni utili

In [2]:
subjects_list = ["Italiano", "Storia", "Matematica", "Matematica", "Geografia", "Filosofia"]

print(subjects_list.index('Storia')) # indice di un elemento
print(subjects_list.count('Matematica')) # count di un elemento

1
2

### Liste annidate
Un collezione può contenere anche un'altra collezione, sia dello stesso tipo che di altri tipi.

In [3]:
subjects_week = [
                 ["Italiano", "Storia", "Matematica", "Matematica", "Geografia", "Filosofia"], # orario di lunedì
                 ["Latino", "Latino", "Matematica", "Italiano", "Italiano", "Educazione Fisica"], # orario di marted'
                 ["Italiano", "Inglese", "Matematica", "Filosofia", "Filosofia", "Latino"], # orario di mercoledì
                 ["Filosofia", "Italiano", "Matematica", "Matematica", "Inglese", "Chimica"], # orario di giovedì
                 ["Educazione Fisica", "Filosofia", "Latino", "Latino", "Storia", "Italiano"] # orario di venerdì
                ] # sabato vacanza perché mi sono scocciato a scrivere materie 

print(subjects_week)

[['Italiano', 'Storia', 'Matematica', 'Matematica', 'Geografia', 'Filosofia'], ['Latino', 'Latino', 'Matematica', 'Italiano', 'Italiano', 'Educazione Fisica'], ['Italiano', 'Inglese', 'Matematica', 'Filosofia', 'Filosofia', 'Latino'], ['Filosofia', 'Italiano', 'Matematica', 'Matematica', 'Inglese', 'Chimica'], ['Educazione Fisica', 'Filosofia', 'Latino', 'Latino', 'Storia', 'Italiano']]

Utilizzando l'indice 2 accediamo alla terza lista contenuta nella lista principale, nel nostro caso le materie di mercoledì.

In [52]:
subjects_week[2]

['Italiano', 'Inglese', 'Matematica', 'Filosofia', 'Filosofia', 'Latino']

Aggiungendo un'altro indice 3 otterremo la quarta parola della terza lista, nel nostro caso la materia alla quarta ora di mercoledì.

In [54]:
subjects_week[2][3]

'Filosofia'

## Le Tuple
La tupla è un tipo di dati molto simile alla lista, la differenza principale è che **una tupla una volta creata non può essere modificata**, inoltre, a differenza delle liste, la tupla è idonea a contenere diversi tipi di dati. Possiamo creare una tupla inserendo gli elementi tra parentesi tonde e separandoli con una virgola.

In [5]:
t = (1, 2 ,3 ,5 ,8 ,13 ,21)
print(t, type(t))

(1, 2, 3, 5, 8, 13, 21) <class 'tuple'>

Per l'accesso agli elementi valgono sempre le stesse regole delle liste, quindi indexing e slicing

In [6]:
print(t[0]) # primo elemento della tupla
print(t[-1]) # ultimo elemento della tupla

1
21

In [7]:
print(t[:3]) # primi 3 elementi
print(t[3:6]) # dal terzo (incluso) al sesto (escluso)

(1, 2, 3)
(5, 8, 13)

Come abbiamo detto, non possiamo modificare il contenuto di una tupla, se ci proviamo otteniamo un'eccezione di tipo *TypeError*.

In [8]:
t[0] = 2

TypeError: 'tuple' object does not support item assignment

### Tuple annidate
Anche le tuple possono contenere altre tuple, ma anche altre liste o altre collezioni. Facciamo un'esempio con una tupla che contiene dei voti per delle materie

In [12]:
subjects_vote =(("italiano", 7), ("latino", 7), ("greco", 4), ("filosofia", 6), ("matematica", 10))
print(subjects_vote)

(('italiano', 7), ('latino', 7), ('greco', 4), ('filosofia', 6), ('matematica', 10))

Ogni elemento della tupla è un'altra tupla con il nome della materia alla prima posizione e il voto alla seconda. Possiamo accedere ad una materia con il rispettivo indice e otterremo la tupla corrispondente.

In [13]:
subjects_vote[0]

('italiano', 7)

Utilizzando un secondo indice possiamo ottenere gli elementi della sotto-tupla.

In [14]:
print(subjects_vote[0][0])
print(subjects_vote[0][1])

italiano
7

### Altre funzioni utili per Liste e Tuple

In [9]:
subjects_list = ["Italiano", "Storia", "Matematica", "Matematica", "Geografia", "Filosofia"]

print(subjects_list.index('Storia')) # indice di un elemento
print(subjects_list.count('Matematica')) # count di un elemento

1
2

In [10]:
subjects_tuple = ("Italiano", "Storia", "Matematica", "Matematica", "Geografia", "Filosofia")

print(subjects_tuple.index('Storia')) # indice di un elemento
print(subjects_tuple.count('Matematica')) # count di un elemento

1
2

## Set e Frozenset
i set sono insiemi di elementi unici non ordinati, questo vuol dire che un set non può contenere due volte lo stesso elemento e che non tiene conto della disposizione degli elementi al suo interno. 
Possiamo creare un set inserendo gli elementi tra parentesi graffe e separandoli con una virgola.

In [2]:
my_set = {1,2,2,3,4,5,5}
print(my_set, type(my_set))

{1, 2, 3, 4, 5} <class 'set'>

Come vedi gli elementi duplicati sono stati rimossi. Vediamo alcune funzioni utili per lavorare con i set.

In [16]:
subjects_set = {"Italiano", "Storia", "Matematica", "Matematica", "Geografia", "Filosofia"}

In [17]:
subjects_set.add("Chimica") # aggiungiamo la stringa 'Chimica' al set
print(subjects_set)

{'Storia', 'Filosofia', 'Chimica', 'Matematica', 'Geografia', 'Italiano'}

In [18]:
subjects_set.add("Filosofia") # la stringa 'Filosia' non verrà aggiunta in quanto è già presente
print(subjects_set)

{'Storia', 'Filosofia', 'Chimica', 'Matematica', 'Geografia', 'Italiano'}

In [19]:
subjects_set.remove("Filosofia") # rimuoviamo la stringa 'Filosofia' dal set
print(subjects_set)

{'Storia', 'Chimica', 'Matematica', 'Geografia', 'Italiano'}

In [20]:
subjects_set.remove("Arte") # la stringa 'Arte' non è presente nel set -> ECCEZIONE
print(subjects_set)

KeyError: 'Arte'

In [21]:
subjects_set.discard("Arte") # la stringa 'Arte' non è presente nel set -> Non fa nulla
print(subjects_set)

{'Storia', 'Chimica', 'Matematica', 'Geografia', 'Italiano'}

In [22]:
subject = subjects_set.pop() # estraiamo un elemento a caso dal set
print(subject, subjects_set)

Storia {'Chimica', 'Matematica', 'Geografia', 'Italiano'}

In [23]:
subjects_set.clear() # svuotiamo il set
print(subjects_set)

set()

Possiamo anche creare un set immutabile utilizzando frozenset, in questo caso una volta creato non potremo più aggiungere o rimuovere elementi dal set.

In [24]:
subjects_frozen = frozenset({"Italiano", "Storia", "Matematica", "Matematica", "Geografia", "Filosofia"})
print(subjects_frozen)

frozenset({'Geografia', 'Italiano', 'Storia', 'Filosofia', 'Matematica'})

## Dizionari
Un dizionario è un tipo Python che ci permette di salvare dei dati in un formato chiave valore, in maniera tale da poter utilizzare la chiave per accedere al valore. Possiamo creare un dizionario con Python racchiudendolo tra parentesi graffe e separando chiavi e valori con (:)

In [26]:
report = {"italiano":7, "latino":7, "greco":4, "filosofia":6, "matematica":10}
print(report, type(report))

{'italiano': 7, 'latino': 7, 'greco': 4, 'filosofia': 6, 'matematica': 10} <class 'dict'>

Possiamo accedere ad un elemento del dizionario inserendo la chiave tra parentesi quadre

In [26]:
marks["latino"] # accediamo al valore per la chiave 'latino'

7

Se la chiave è inesistente otterremo un'eccezione di tipo KeyError.

In [27]:
report["fisica"] # la chiave 'fisica' non esiste -> ECCEZIONE

KeyError: ignored

Allo stesso modo possiamo modificare un valore del dizionario

In [27]:
report["fisica"] = 10
print(report)

{'italiano': 7, 'latino': 7, 'greco': 4, 'filosofia': 6, 'matematica': 10, 'fisica': 10}

oppure inserire un nuovo valore con una nuova chiave

In [32]:
report["greco"] = 6
print(report)

{'italiano': 7, 'latino': 7, 'greco': 6, 'filosofia': 6, 'matematica': 10, 'fisica': 10}

E' possibile inserire all'interno di un elemento del dizionario un'altro dizionario.

In [33]:
report["inglese"] = {"grammatica":7, "letteratura":6}
print(report)

{'italiano': 7, 'latino': 7, 'greco': 6, 'filosofia': 6, 'matematica': 10, 'fisica': 10, 'inglese': {'grammatica': 7, 'letteratura': 6}}

Possiamo ottenere solo i valori di un dizionario utilizzando il metodo *.values()*

In [36]:
values = report.values()
print(values, type(values))

dict_values([7, 7, 6, 6, 10, 10, {'grammatica': 7, 'letteratura': 6}]) <class 'dict_values'>

oppure possiamo ottenere soltanto le chiavi utilizzando il metodo *.keys()*

In [35]:
keys = report.keys()
print(keys, type(keys))

dict_keys(['italiano', 'latino', 'greco', 'filosofia', 'matematica', 'fisica', 'inglese']) <class 'dict_keys'>

Nel primo caso il risultato sarà un'oggetto *dict_values*, nel secondo un oggetto *dict_keys*, in entrambi i casi ce ne facciamo poco a meno che non li convertiamo in liste (o qualche altro tipo di collezione).

In [40]:
keys = list(keys)
print(keys, type(keys))

['italiano', 'latino', 'greco', 'filosofia', 'matematica', 'fisica', 'inglese'] <class 'list'>

## Casting tra collezioni
Come abbiamo visto appena sopra, è possibile eseguire il casting anche tra le collezioni. Facciamo qualche esempio

In [0]:
names_list = ["Giuseppe", "Carlo", "Nicola", "Giuseppe", "Carlo", "Antonio"]

**ES. 1: da lista a tupla**

In [43]:
names_immutable = tuple(names_list)
print(names_immutable)

('Giuseppe', 'Carlo', 'Nicola', 'Giuseppe', 'Carlo', 'Antonio')

**ES. 2: da lista a set**<br>
In questo caso gli elementi ripetuti saranno presi una sola volta in ordine casuale.

In [44]:
names_unique = set(names_list)
print(names_unique)

{'Antonio', 'Carlo', 'Giuseppe', 'Nicola'}

**ES. 3: da tupla a set**

In [45]:
names_unique = set(names_immutable)
print(names_unique)

{'Antonio', 'Carlo', 'Giuseppe', 'Nicola'}

**ES 4: da tupla a dizionario**<br>
Possiamo crere un dizionario partendo da una tupla, se questa tupla è composta da altre tuple di due elementi ciascuna, in questo caso il primo elemento sarà la chiave e il secondo il valore.

In [28]:
names_age = (("Giuseppe", 25), ("Antonio", 23), ("Nicola",24))
people_dict = dict(names_age)
print(people_dict)

{'Giuseppe': 25, 'Antonio': 23, 'Nicola': 24}

**ES 5: da due liste a dizionario**
Appena sopra abbiamo visto il formato necessario per ottenere un dizionario partendo da una tupla. Possiamo ottenere una tupla in tale formato anche partendo da due liste, una con le chiavi e una con i valori, sfruttando la funzione *zip*.

In [29]:
names = ["Giuseppe", "Antonio", "Nicola"]
age = [25, 23, 24]

names_age = zip(names, age)
people_dict = dict(names_age)

print(people_dict)

{'Giuseppe': 25, 'Antonio': 23, 'Nicola': 24}